*{
    margin: 0;
    padding: 0;
}

.corona-img{
    width: 100%;
    height: 500px;
    position: relative;
    top: 10%;
    left: 10%;
    transform: translateX(-10%) translateY(-10%);
}

footer{
    background-color: black;
    color: white;
    padding: 3px;
    text-align: center;
}