<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="../css/materialize.min.css">
   <link rel="stylesheet" href="../css/video.css">

</head>
<body>
    <div>
        <a class="waves-effect waves-light btn" href="principal.html">Regresar</a>
    </div>
       

     <div id="video-container" class="container center-align"></div>

    <div id="template-video" class="center-align">

      <iframe src="https://www.youtube.com/embed/{{videoId}}" frameborder="0" style="width: 70vw"></iframe>
    </div>

   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
   <script src="js/materialize.min.js"></script>
   <script src="../js/video.js"></script>
   <script src="https://apis.google.com/js/client.js"></script>
</body>
</html>